<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SalesSmartConnection" connectionString="Server =dbapp-dealzrpt-test.bnznag.nz.thenational.com, 4309;Database=SalesMart;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="EventManagementConnection" connectionString="Server =dbapp-dealz-test.bnznag.nz.thenational.com, 4309;Database=EventManagement;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>